body {
    background-color: #F5F5F5;
}

header img {
    width: 17%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 20px; /* space between images and boxes */
    margin-bottom: 20px;
}

.image-container img {
    width: 31%; /* Each image takes up 30% of the container */
    height: auto; /* Height ratio */
}

.stacked-boxes {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.box {
    margin-bottom: 10px;
}
