body {
    background-color: #F5F5F5;
}

header img {
    width: 17%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 20px; /* space between images and boxes */
    margin-bottom: 20px;
}

.image-container img {
    width: 31%; /* Each image takes up 30% of the container */
    height: auto; /* Height ratio */
}

.stacked-boxes {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    }

.box {
    margin-bottom: 10px;
    flex-grow: 1; /* Make each box grow to fill available space */
    height: 10%; /* Set height to 10% of the screen */
}

.dashboard {
    width: 66.66%; /* 2/3 of the screen width */
    float: left;
    margin: 0;
}

.category {
    margin: 7px;
    padding: 7px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    width: 70%;
    height: 4%;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: black;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.category:hover {
    background-color: #000000; /* Darken to black color */
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.red {
    background-color: #FF4136;
}

.green {
    background-color: #2ECC40;
}

.yellow {
    background-color: #FFDC00;
}

.blue {
    background-color: #0074D9;
}

.white {
    background-color: #FFFFFF;
    color: black;
}
