{% extends 'layout.html' %}

{% block content %}
    <div class="engineering">
        <section class="Chemical">
            <a href="{{ url_for('chemical') }}">
                <h2>Chemical</h2>
            </a>
        </section>

        <section class="Civil">
            <a href="{{ url_for('civil') }}">
                <h2>Civil</h2>
            </a>
        </section>

        <section class="Electrical">
            <a href="{{ url_for('electrical') }}">
                <h2>Electrical</h2>
            </a>
        </section>

        <section class="Mechanical">
            <a href="{{ url_for('mechanical') }}">
                <h2>Mechanical</h2>
            </a>
        </section>

        <section class="Petroleum">
            <a href="{{ url_for('petroleum') }}">
                <h2>Petroleum</h2>
            </a>
        </section>

    </div>
{% endblock %}
