{% extends 'layout.html' %}

{% block content %}
    <div class="dashboard">
	<section class="user-bio">
        <h2>{{ username }}</h2>
        <p>Interests: {{ user_interests }}</p>
        <p>Articles Posted: {{ articles_count }}</p>
	</section>

	<form action="{{ url_for('update_profile') }}" method="post">
    <label for="bio">Bio:</label>
    <textarea name="bio" id="bio">{{ current_user.bio }}</textarea>
    <label for="interests">Interests:</label>
    <input type="text" name="interests" id="interests" value="{{ current_user.interests }}">
    <button type="submit">Update Profile</button>
</form>


        <section class="category red">
            <a href="{{ url_for('engineering') }}">
                <h2>Engineering</h2>
            </a>
        </section>

        <section class="category green">
            <a href="{{ url_for('sports') }}">
                <h2>History</h2>
            </a>
        </section>

        <section class="category yellow">
            <a href="{{ url_for('history') }}">
                <h2>Sciences</h2>
            </a>
        </section>

        <section class="category blue">
            <a href="{{ url_for('stories') }}">
                <h2>Sports</h2>
            </a>
        </section>

        <section class="category white">
            <a href="{{ url_for('sciences') }}">
                <h2>Stories</h2>
            </a>
        </section>
    </div>
{% endblock %}
