{% extends 'layout.html' %}

{% block content %}

 <div class="image-container">
        <img src="{{ url_for('static', filename='image1.png') }}" alt="Image1">
        <img src="{{ url_for('static', filename='image2.png') }}" alt="Image2">
        <img src="{{ url_for('static', filename='image3.jpg') }}" alt="Image3">
    </div>

    <div class="stacked-boxes">
        <div class="box">
            <a href="/login">Login</a>
        </div>
        <div class="box">
            <a href="/signup">Signup</a>
        </div>
        <div class="box">
            <a href="/recovery">Recovery</a>
        </div>
    </div>

{% endblock %}
