<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
	<img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
        Dante's Blogging Website
    </header>
    <div class="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <footer>
	<h3>
        Learning is Living
	</h3>
	<p>
	<a href="{{ url_for('change_password') }}">Change Password</a>
	</p>
	<p>
        <a href="{{ url_for('logout') }}">Log Out</a>
	</p>
    </footer>
</body>
</html>
